* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box; */
}

.navbar {
    width: 100vw;
    height: 60px;
    background-color: #0f1111;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 112px;
}

.logo {
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* Box-2 */
.nav-address {
    width: 85px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-first-line {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
    width: 55px;
}

.add-second-line {
    font-size: 1rem;
    margin-left: 3px;
}

.address-icon {
    display: flex;
    align-items: center;
    margin-left: -20px;
}

/* Box 3 */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 480px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 60px;
    text-align: center;
    border-radius: 4px 0 0 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #febd68;
    color: #0f1111;
    border-radius: 0 4px 4px 0;
}

/* box 4 */

.nav-language {
    width: 72px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-lang-inner {
    height: 32px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lang-text {
    width: 19px;
    height: 15px;
    font-size: 14px;
    font-weight: bold;
}

.lang-arrow {
    width: 7px;
}

.flag-image {
    width: 21px;
    height: 16px;
}

/* Box 5 */

.Span {
    font-size: 0.7rem;
}

.nav-first {
    margin-top: 7px;
}

.nav-signin {
    width: 134px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 10px; */
    padding: 0 9px 10px;
}

.account-list-icon {
    margin-left: 5px
}

.nav-signin-second {
    width: 112px;
    display: flex;
    align-items: center;
    font-size: 0.79rem;
    font-weight: 700;
}

/* Box 6 */
.nav-returns-orders {
    width: 76px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 10px; */
    padding: 0 9px 10px;
}

.nav-returns-first {
    margin-top: 7px;
}

.nav-orders-second {
    width: 112px;
    display: flex;
    align-items: center;
    font-size: 0.79rem;
    font-weight: 700;
}

/* Box 7 */
.nav-cart {
    display: flex;
    width: 90px;
    height: 40px;
    margin: 0;
}

.cart-text {
    margin-top: 10px;
}

.nav-cart-first {
    width: 88px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}