.card {
    transform: translate(none);
}

.card:hover>.contain>.description {
    transform: translateX(0);
    opacity: 100;
    transition: all ease 300ms;
}

.card>.contain>.description {
    /* Default state for the element */
    transform: translateX(-100%);
    /* Initially hidden off-screen (adjust as needed) */
    opacity: 0;
    /* Initially invisible */
    transition: all ease 300ms;
    /* Smooth transition for both hover and mouseout */
}

.background {
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgb(59, 209, 59);
    position: absolute;
    width: 0;
    height: 100%;
}

.card:hover>.contain {
    color: black;
    background-color: transparent;
}

.card:hover>.background {
    opacity: 100%;
    width: 30vw;
    transition: all ease-in-out 150ms;
}

.solutions {
    overflow: auto;

    /* Hide scrollbar for all browsers (may not work perfectly everywhere) */
    &::-webkit-scrollbar {
        /* WebKit (Chrome, Safari) */
        display: none;
    }
}

.trending-img {
    transform: translateY(100%);
    transition: all ease-in-out 150ms;
}

.trending-content:hover>#Right>.trending-img {
    transform: translateY(0);
    scale: 250%;
    transition: all ease-in-out 150ms;
}

.trending-content:hover>#Right {
    overflow: visible;
    transition: all ease-in-out 3s;
}

.Options {
    opacity: 0;
    transform: translateY(-20px);
    z-index: 10;
    position: absolute;
    top: 9.2rem;
    left: 0;
    transition: all ease-in-out 300ms;
}

.active {
    opacity: 1;
    transform: translateY(0);
    transition: all ease-in-out 300ms;

}