<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form made with Nodejs and MongoDB</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="container flex items-center justify-center">
        <a href="login">
            <button
                class=" w-48 cursor-pointer group relative flex gap-1.5 px-8 py-4 bg-black bg-opacity-80 text-[#f1f1f1] rounded-3xl hover:bg-opacity-70 transition font-semibold shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24px" width="24px">
                    <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                    <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Download">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#f1f1f1"
                                d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" id="Vector"></path>
                        </g>
                    </g>
                </svg>
                Login
            </button>
        </a>
        <a href="./signup">
            <button
                class=" w-48 cursor-pointer group relative flex gap-1.5 px-8 py-4 bg-black bg-opacity-80 text-[#f1f1f1] rounded-3xl hover:bg-opacity-70 transition font-semibold shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24px" width="24px">
                    <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                    <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                    <g id="SVGRepo_iconCarrier">
                        <g id="Interface / Download">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#f1f1f1"
                                d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" id="Vector"></path>
                        </g>
                    </g>
                </svg>
                Signup
            </button>
        </a>
    </div>

</body>

</html>